@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: aliceblue;
    color: #000;
}

[data-theme="dark"] body {
    background-color: #121212;
    color: #ffffff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
}

[data-theme="dark"] .navbar {
    background-color: #1e1e1e;
}

.nav_logo {
    display: flex;
    align-items: center;
    color: #000000;
    font-size: 24px;
    font-weight: 600;
    margin-left: 10vw;
}

.nav_logo img {
    width: 40px;
    height: auto;
    margin-right: 10px;
    border-radius: 50%;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.nav_links {
    margin-left: auto;
    margin-right: auto;
    color: #000000;
}

.nav_auth {
    margin-left: auto;
    margin-right: 10vw;
}

.navbar li a {
    color: #000000;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    transition: background-color 0.3s, color 0.3s;
}

[data-theme="dark"] .navbar li a {
    color: #ffffff;
}

.navbar li a:hover {
    background-color: #77ffc0;
    color: #201b2c;
}

[data-theme="dark"] .navbar li a:hover {
    background-color: #77ffc0;
    color: #ffffff;
}


.hamburger-menu {
    display: none; 
    cursor: pointer;
    margin-left: 20px;
}

.hamburger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 4px 0;
    transition: 0.4s;
}


.register-button {
    background-color: #2ec47e;
    color: #2f2841;
    border: 2px solid #2f2841;
    border-radius: 8px;
    padding: 10px 16px;
    transition: background-color 0.3s, color 0.3s;
}

.register-button:hover {
    background-color: #2f2841;
    color: #2ec47e;
}

[data-theme="dark"] .register-button {
    background-color: #1e1e1e;
    color: #fff;
    border: 2px solid #77ffc0;
}

[data-theme="dark"] .register-button:hover {
    background-color: #77ffc0;
    color: #1e1e1e;
}


.intro {
    background-color: white;
    padding: 50px 20px;
    text-align: center;
}

[data-theme="dark"] .intro {
    background-color: #1e1e1e;
    color: #ffffff;
}

.intro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
}

.intro-text {
    flex: 1; 
    text-align: left; 
    max-width: 600px;
}

.intro-text h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.intro-text p {
    font-size: 18px;
    margin-bottom: 20px;
}

.intro-image {
    width: 100%;
    max-width: 600px;
    height: auto;
}


.cta-button {
    background-color: #2ec47e;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block; 
}

.cta-button:hover {
    background-color: #2f2841;
    color: #2ec47e;
}

[data-theme="dark"] .cta-button {
    background-color: #1e1e1e;
    color: #fff;
}

[data-theme="dark"] .cta-button:hover {
    background-color: #77ffc0;
    color: #1e1e1e;
}

#main_card {
    background-color: rgb(46, 242, 203);
    padding: 50px 20px;
    text-align: center;
}

.learning-methods {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.card {
    position: relative;
    background-color: #f0ffffde;
    width: calc(50% - 20px); 
    max-width: 300px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #717777de;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card img {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

.card .card-content {
    margin-top: auto; 
    transition: filter 0.3s;
}

.card h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    margin-bottom: 20px;
}


.study-anytime {
    background-color: white;
    padding: 50px 20px;
    text-align: center;
}

[data-theme="dark"] .study-anytime {
    background-color: #1e1e1e;
    color: #ffffff;
}

.study-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap;
}

.study-text {
    flex: 1; 
    text-align: left; 
    max-width: 600px;
}

.study-text h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.study-text p {
    font-size: 18px;
    margin-bottom: 20px;
}

.study-image {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.community {
    background-color: #2f2841;
    color: #fff;
    padding: 50px 20px;
    text-align: center;
}

[data-theme="dark"] .community {
    background-color: #121212;
    color: #ffffff;
}

.community-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap-reverse; 
}

.community-text {
    flex: 1; 
    text-align: left; 
    max-width: 600px;
}

.community-text h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.community-text p {
    font-size: 18px;
    margin-bottom: 20px;
}

.community-image {
    width: 100%;
    max-width: 600px; 
    margin-right: 20px;
}

.community-image img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.learn-languages {
    background-color: white;
    padding: 50px 20px;
    text-align: center;
}

[data-theme="dark"] .learn-languages {
    background-color: #1e1e1e;
    color: #ffffff;
}

.languages-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.languages-container h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.languages-container p {
    font-size: 18px;
    margin-bottom: 20px;
}

.learn-languages .card {
    background-color: #f0ffffde;
    max-width: 250px;
    flex: 1 1 calc(25% - 20px); 
    margin: 10px;
}

.learn-languages .card img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.learn-languages .card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.learn-languages .card p {
    font-size: 14px;
    margin-bottom: 10px;
}

/* Footer */
.footer {
    background-color: #2f2841;
    color: #fff;
    padding: 30px 20px;
    text-align: center;
    margin-top: px;
}

.footer .footer-navbar {
    display: flex;
    justify-content: space-between;
    margin-right: 1200px;
}

.footer .nav_logo {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}

.footer .nav_logo img {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

.footer .footer-navbar .nav_links {
    list-style-type: none;
    display: flex;
    flex-direction: column; 
    gap: 10px;
}

.footer .footer-navbar .nav_links li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
    padding: 10px 15px;
    font-size: 16px;
}

.footer .footer-navbar .nav_links li a:hover {
    color: #77ffc0;
}

.footer .footer-info {
    max-width: 600px;
    margin-top: 30px;
    text-align: left; 
    margin: auto; 
}

.footer .footer-info .social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px; 
}

.footer .footer-info .social-links a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s;
}

.footer .footer-info .social-links a:hover {
    color: #77ffc0;
}

.footer .footer-info .contact-info {
    font-size: 16px;
    line-height: 1.5;
}
.footer-bottom {
    background-color: transparent;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
    margin-top: 10px;
}
.footer .nav_logo{
    color: #fff;
}

@media (max-width: 1024px) {
    .intro-container,
    .study-container,
    .community-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%; 
        max-width: 100%;
    }

    .community-image {
        margin-right: 0; 
        margin-bottom: 20px; 
    }
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 10px;
    }

    .nav_logo {
        margin: 10px 0;
    }

    .nav_logo img {
        width: 30px;
    }

    .navbar ul {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: #ffffff;
        box-shadow: 0px 8px 16px rgba(0,0,0,0.1);
        z-index: 1000;
    }

    .nav_auth {
        margin-right: 20px;
        display: flex;
        gap: 10px;
    }

    .card {
        width: 100%; 
        max-width: 100%;
    }

    .learning-methods,
    .study-container,
    .community-container {
        padding: 20px;
    }

    .learn-languages .card {
        background-color: #f0ffffde;
        max-width: 300px; 
        width: 100%; 
        margin: 10px;
    } 

    .navbar ul {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: #ffffff;
        box-shadow: 0px 8px 16px rgba(0,0,0,0.1);
        z-index: 1000;
    }

    .nav_links.open {
        display: flex; 
    }

    .hamburger-menu {
        display: block; 
        margin-right: 10px;
        margin-left: 20px;
    }

    .nav_auth {
        display: flex; 
        gap: 10px; 
        margin-right: 20px;
    }
}
